<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jqmath-0.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.js"></script>
    <script src="~/scripts/jqmath-etc-0.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>M.MathPlayer = false; M.trustHtml = true;</script>

    <style>
        #mathSrc1, #mathSrc2 {
            font-size: larger;
            vertical-align: text-bottom
        }

        table.prec-form-char {
            text-align: center
        }

            table.prec-form-char td:first-child {
                text-align: right
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>


    <script>
"use strict";

var ents_ = { nwarr: '\u2196', swarr: '\u2199' };
function doMathSrc(n) {
	var srcE = $('#mathSrc'+n)[0],
		ms = srcE.value.replace(/&([-#.\w]+);|\\([a-z]+)(?: |(?=[^a-z]))/ig,
				function(s, e, m) {
					if (m && (M.macros_[m] || M.macro1s_[m]))	return s;	// e.g. \it or \sc
					var t = '&'+(e || m)+';', res = $('<span>'+t+'</span>').text();
					return res != t ? res : ents_[e || m] || s;
				}),
		h = ms.replace(/</g, '&lt;');
	if (srcE.value != h)	srcE.value = h;	// assignment may clear insertion point

	var t;
	try {
		t = M.sToMathE(ms, true);
	} catch(exc) {
		t = String(exc);
	}
	$('#mathTgt'+n).empty().append(t);
}

function checkUnicodeTitle(event) /* if the event’s target is a 1 or 2 character string, then
		its unicode code point(s) are made visible */ {
	var e = event.target, t = e.firstChild;
	if (e.nodeType == 1 /* Element */ && t && e.lastChild == t && t.nodeType == 3 /* Text */) {
		var s = t.data, len = s.length;
		if (0 < len && len <= 2) {
			var iToU = function(i) {
					var h = s.charCodeAt(i).toString(16).toUpperCase();
					while (h.length < 4)	h = '0'+h;
					return 'U+'+h;
				}, u = F.fToA(iToU, len).join(' ');
			if (! e.title)	e.title = u;
			else if (e.title.indexOf(u) == -1)	e.title = u+': '+e.title;
		}
	}
}
function insertToSrc2(event) /* if the event’s target is a 1 or 2 character string, then
		it is inserted into $('#mathSrc2') */ {
	var e = event.target, t = e.firstChild;
	if (e.nodeType == 1 /* Element */ && t && e.lastChild == t && t.nodeType == 3 /* Text */) {
		var s = t.data, len = s.length;
		if (0 < len && len <= 2) {
			if (s == '\u2044' /* fraction slash */) {
				alert('This buggy "fraction slash" is being replaced by a regular / (U+002F).');
				s = '/';
			} else if (s == '&')	s = '&amp;';
			else if (s == '<')	s = '&lt;';
			else if ($(e).hasClass('no-meta') || $(e).is('.use-backslash *'))	s = '\\'+s;
			else if ($(e).is('.use-sc *'))	s = '\\sc '+s;
			else if ($(e).is('.use-fr *'))	s = '\\fr '+s;

			var te = $('#mathSrc2')[0];
			te.value += s;
			te.focus();
			var n = te.value.length;
			if (te.setSelectionRange)	te.setSelectionRange(n, n);
			else if (te.createTextRange) {
				var range = te.createTextRange();
				range.collapse(false);
				range.select();
			}

			doMathSrc(2);
		}
	}
}

);

    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>