<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SchoolBookEntities" connectionString="metadata=res://*/SchoolBookDataModel.csdl|res://*/SchoolBookDataModel.ssdl|res://*/SchoolBookDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CITIZEN\SQLEXPRESS;initial catalog=SchoolBook;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SchoolBookEntities1" connectionString="metadata=res://*/SchoolBookDataModel.csdl|res://*/SchoolBookDataModel.ssdl|res://*/SchoolBookDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CITIZEN\SQLEXPRESS;initial catalog=SchoolBook;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>